html, body {
  padding: 0;
  margin: 0;
  background-color: #FF5252;
}

#carousel{
  position: relative;
}

.carousel{
  overflow-x: scroll;
}

.carousel-container {
  height: 100%;
  margin: 5%;
}

.carousel-container::after{
  content: '';
  clear: both;
  display: table;
}

.carousel-item{
  float: left;
}

figure{
  margin: 10px;
}

img{
  width: 100%;
  vertical-align: middle;
}

figure figcaption {
  padding: 5px;
  background-color: #F4F4F4;
}